<p id="notice"><%= notice %></p>

<h1>Carrito de compras</h1>
  
  <table class ="responstable">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Opciones</th>
    </tr>
    <% @cart.line_products.each do |line_product|%>
    
    <tr>
      
      <td><%= line_product.product.name%></td>
      <td><%= line_product.product.price%></td>
      <td><%= line_product.quantity%></td>
      <td><%= link_to "Eliminar", line_product, method: :delete, data: {confirm: '¿Seguro?'} %>
    </tr>
    <%end%>
  </table>

  <center><%= link_to 'Generar orden',
	      orders_path,
	      {class: "button button-primary button-rounded be-blue"}
	      %>
  </center>


<br>

