<p id="notice"><%= notice %></p>

<div class="wrap" style="text-align: center" >
  <img><%= image_tag 'nuestros-productos.jpg', :class => "blur "%></img>
  <h3 class="desc">Productos</h3>
</div>





    <% @products.each_slice(4) do |p| %>
    <nav class="row center-xs ">
      <%p.each do |product|%>
    <ul id="flash" class="col-xs ">
      <li class="box large-padding" >
	
	<div class="row ">
	  <div class="col-xs ">
	    asdadsa
	    <div class="box"><%= product.user %></div>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-xs">
	    <div class="box"><%= product.name %></div>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-xs">
	    <div class="box"><%= product.price %></div>
	  </div>
	</div>
        
	
	<div class="row">
	  <div class="col-xs">
	    <div class="box"><%= link_to 'Show', product %></div>
	  </div>
	</div>
	
	
	<div class="row">
	  <div class="col-xs">
	    <div class="box"><%= link_to 'Edit', edit_product_path(product) %></div>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-xs">
	    <div class="box"><%= link_to 'Destroy',
				 product, method: :delete,
				 data: { confirm: 'Are you sure?' } %></div>
	  </div>
	</div>
	
	<% if user_signed_in?%>
	<div class="row">
	  <div class="col-xs">
	    <div class="box"><%= button_to 'Añadir al carrito',
				 line_products_path(product_id: product),
				 {class: "button button-primary button-rounded be-blue"} %>
	      
	    </div>
	  </div>
	</div>
	<%end%>
	
	
      </li>
    </ul>
    
    <%end%>
 
    </nav>
    <% end %> 
<%= link_to 'New Product', new_product_path %>
