<p id="notice"><%= notice %></p>

<div class="wrap" style="text-align: center" >
  <img><%= image_tag 'nuestros-productos.jpg', :class => "blur "%></img>
  <h3 class="desc">Productos</h3>
</div>

<table class="responstable">
  <tr>
    <th></th>
    <th><center>Nombre</center></th>
    <th><center>Precio</center></th>
    <% if user_signed_in? && is_admin?%>
    <th></th>
    <%end%>
    <% if user_signed_in? && !is_admin?%>
    <th><center>Carrito</center></th>
    <%end%>
  </tr>

  <% @products.each do |product|%>
  <tr>
    <td><%= image_tag product.image, :size => "180x180"%></td>
    <td><center><%=product.name%></center></td>
    <% if user_signed_in? && is_admin?%>
    <td><center><%=product.price%></center></td>
    <%end%>
    <td><center><%=link_to 'Mostrar', product%></center></td>
    <% if user_signed_in? && !is_admin?%>
    <td><center><%= button_to 'Añadir al carrito',
	    line_products_path(product_id: product),
		    {class: "button button-primary button-rounded be-blue"} %>
	
    </center></td>
  </tr>
  <%end%>
  <%end%>
</table>
