<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if is_admin? %><%= link_to 'Editar', edit_product_path(@product) %> | <%end%>
<%= link_to 'Regresar', products_path %>
